html, body
{
  background-color: #fff;
  color: #000;
  letter-spacing: 0.5px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  margin: 0;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
  text-decoration: none;
}

ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
}

/* iconfont */
@font-face {
  font-family: 'iconfont';  /* project id 491967 */
  src: url('//at.alicdn.com/t/font_491967_hnj6fefy1maq0k9.eot');
  src: url('//at.alicdn.com/t/font_491967_hnj6fefy1maq0k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_491967_hnj6fefy1maq0k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_491967_hnj6fefy1maq0k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_491967_hnj6fefy1maq0k9.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  width: 100%;
  margin: 0 auto;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}